body {background-color: lime;font-style: italic;
      font-size: 23 px;}
<<<<<<< HEAD
button{background-color: blueviolet;}
=======
button{background-color: red;}
>>>>>>> e48c01b034a3e84a468471d4319d90cf489742ec
